In [1]:
import sqlite3
conn=sqlite3.connect('test.db')

In [2]:
conn.execute('''
CREATE TABLE PUBLISHER (
    Name VARCHAR(255) PRIMARY KEY,
    Address VARCHAR(255),
    Phone VARCHAR(20)
);'''

)
conn.commit()
print('publisher');

publisher

In [3]:
conn.execute('''
CREATE TABLE BOOK (
    Book_id INT PRIMARY KEY,
    Title VARCHAR(255) NOT NULL,
    Publisher_Name VARCHAR(255),
    Pub_Year INT,
    FOREIGN KEY (Publisher_Name) REFERENCES PUBLISHER(Name)
)'''

)
conn.commit()
print('book');

book

In [4]:
conn.execute('''
CREATE TABLE BOOK_AUTHORS (
    Book_id INT,
    Author_Name VARCHAR(255),
    FOREIGN KEY (Book_id) REFERENCES BOOK(Book_id)
);'''

)
conn.commit()
print('authors');

authors

In [5]:
conn.execute('''
CREATE TABLE LIBRARY_BRANCH (
    Branch_id INT PRIMARY KEY,
    Branch_Name VARCHAR(255),
    Address VARCHAR(255)
);'''

)
conn.commit()
print('library branch');

library branch

In [9]:
conn.execute('''
CREATE TABLE BOOK_COPIES (
    Book_id INT,
    Branch_id INT,
    "No_of_Copies" INT DEFAULT 0,
    FOREIGN KEY (Book_id) REFERENCES BOOK(Book_id),
    FOREIGN KEY (Branch_id) REFERENCES LIBRARY_BRANCH(Branch_id)
);'''

)
conn.commit()
print('book copies');

book copies

In [8]:
conn.execute('''
CREATE TABLE BOOK_LENDING (
    Book_id INT,
    Branch_id INT,
    Card_No INT,
    Date_Out DATE,
    Due_Date DATE,
    FOREIGN KEY (Book_id) REFERENCES BOOK(Book_id),
    FOREIGN KEY (Branch_id) REFERENCES LIBRARY_BRANCH(Branch_id)
);'''

)
conn.commit()
print('book lending');

book lending

In [10]:
conn.execute("INSERT INTO PUBLISHER VALUES ('Penguin','New York','111-222-333');")
conn.execute("INSERT INTO PUBLISHER VALUES ('HarperCollins','London','222-333-444');")
conn.execute("INSERT INTO PUBLISHER VALUES ('McGraw-Hill','Chicago','333-444-555');")
conn.execute("INSERT INTO PUBLISHER VALUES ('OReilly','San Francisco','444-555-666');")
conn.execute("INSERT INTO PUBLISHER VALUES ('Oxford Press','Oxford','555-666-777');")

In [11]:
conn.execute("INSERT INTO BOOK VALUES (101,'The Great Gatsby','Penguin',2015);")
conn.execute("INSERT INTO BOOK VALUES (102,'To Kill a Mockingbird','HarperCollins',2018);")
conn.execute("INSERT INTO BOOK VALUES (103,'Introduction to Algorithms','McGraw-Hill',2020);")
conn.execute("INSERT INTO BOOK VALUES (104,'Learning Python','OReilly',2021);")
conn.execute("INSERT INTO BOOK VALUES (105,'Machine Learning Basics','Oxford Press',2022);")
conn.execute("INSERT INTO BOOK VALUES (106,'Data Science for All','OReilly',2023);")
conn.execute("INSERT INTO BOOK VALUES (107,'Modern Operating Systems','McGraw-Hill',2019);")
conn.execute("INSERT INTO BOOK VALUES (108,'Pride and Prejudice','Penguin',2016);")
conn.execute("INSERT INTO BOOK VALUES (109,'Deep Learning Illustrated','OReilly',2021);")
conn.execute("INSERT INTO BOOK VALUES (110,'Quantum Computing 101','Oxford Press',2023);")

In [13]:
conn.execute("INSERT INTO BOOK_AUTHORS VALUES (101,'F. Scott Fitzgerald');")
conn.execute("INSERT INTO BOOK_AUTHORS VALUES (102,'Harper Lee');")
conn.execute("INSERT INTO BOOK_AUTHORS VALUES (103,'Thomas H. Cormen');")
conn.execute("INSERT INTO BOOK_AUTHORS VALUES (104,'Mark Lutz');")
conn.execute("INSERT INTO BOOK_AUTHORS VALUES (105,'Andrew Ng');")
conn.execute("INSERT INTO BOOK_AUTHORS VALUES (106,'Jake VanderPlas');")
conn.execute("INSERT INTO BOOK_AUTHORS VALUES (107,'Andrew S. Tanenbaum');")
conn.execute("INSERT INTO BOOK_AUTHORS VALUES (108,'Jane Austen');")
conn.execute("INSERT INTO BOOK_AUTHORS VALUES (109,'Jon Krohn');")
conn.execute("INSERT INTO BOOK_AUTHORS VALUES (110,'Michael Nielsen');")

In [14]:
conn.execute("INSERT INTO LIBRARY_BRANCH VALUES (201,'Central Library','Main Street, NY');")
conn.execute("INSERT INTO LIBRARY_BRANCH VALUES (202,'Downtown Branch','Broadway, NY');")
conn.execute("INSERT INTO LIBRARY_BRANCH VALUES (203,'West End Branch','West Avenue, SF');")
conn.execute("INSERT INTO LIBRARY_BRANCH VALUES (204,'East Side Branch','East Street, London');")

In [16]:
conn.execute("INSERT INTO BOOK_COPIES VALUES (101,201,5);")
conn.execute("INSERT INTO BOOK_COPIES VALUES (102,201,3);")
conn.execute("INSERT INTO BOOK_COPIES VALUES (103,202,6);")
conn.execute("INSERT INTO BOOK_COPIES VALUES (104,202,4);")
conn.execute("INSERT INTO BOOK_COPIES VALUES (105,203,5);")
conn.execute("INSERT INTO BOOK_COPIES VALUES (106,203,2);")
conn.execute("INSERT INTO BOOK_COPIES VALUES (107,204,3);")
conn.execute("INSERT INTO BOOK_COPIES VALUES (108,204,4);")
conn.execute("INSERT INTO BOOK_COPIES VALUES (109,201,5);")
conn.execute("INSERT INTO BOOK_COPIES VALUES (110,202,3);")

In [17]:
conn.execute("INSERT INTO BOOK_LENDING VALUES (101,201,3001,'2024-05-12','2024-06-12');")
conn.execute("INSERT INTO BOOK_LENDING VALUES (102,201,3002,'2024-06-01','2024-07-01');")
conn.execute("INSERT INTO BOOK_LENDING VALUES (103,202,3003,'2024-06-15','2024-07-15');")
conn.execute("INSERT INTO BOOK_LENDING VALUES (104,202,3004,'2024-07-01','2024-08-01');")
conn.execute("INSERT INTO BOOK_LENDING VALUES (105,203,3005,'2024-07-05','2024-08-05');")
conn.execute("INSERT INTO BOOK_LENDING VALUES (106,203,3006,'2024-07-10','2024-08-10');")
conn.execute("INSERT INTO BOOK_LENDING VALUES (107,204,3007,'2024-07-15','2024-08-15');")
conn.execute("INSERT INTO BOOK_LENDING VALUES (108,204,3008,'2024-07-20','2024-08-20');")
conn.execute("INSERT INTO BOOK_LENDING VALUES (109,201,3009,'2024-07-22','2024-08-22');")
conn.execute("INSERT INTO BOOK_LENDING VALUES (110,202,3010,'2024-07-25','2024-08-25');")
conn.commit()

In [18]:
conn=sqlite3.connect('test.db')
cursor=conn.execute(''' SELECT * FROM PUBLISHER ''' )
for row in cursor:
  print(row)

('Penguin', 'New York', '111-222-333')
('HarperCollins', 'London', '222-333-444')
('McGraw-Hill', 'Chicago', '333-444-555')
('OReilly', 'San Francisco', '444-555-666')
('Oxford Press', 'Oxford', '555-666-777')

In [19]:
conn=sqlite3.connect('test.db')
cursor=conn.execute(''' SELECT * FROM BOOK ''' )
for row in cursor:
  print(row)

(101, 'The Great Gatsby', 'Penguin', 2015)
(102, 'To Kill a Mockingbird', 'HarperCollins', 2018)
(103, 'Introduction to Algorithms', 'McGraw-Hill', 2020)
(104, 'Learning Python', 'OReilly', 2021)
(105, 'Machine Learning Basics', 'Oxford Press', 2022)
(106, 'Data Science for All', 'OReilly', 2023)
(107, 'Modern Operating Systems', 'McGraw-Hill', 2019)
(108, 'Pride and Prejudice', 'Penguin', 2016)
(109, 'Deep Learning Illustrated', 'OReilly', 2021)
(110, 'Quantum Computing 101', 'Oxford Press', 2023)

In [20]:
conn=sqlite3.connect('test.db')
cursor=conn.execute(''' SELECT * FROM BOOK_AUTHORS ''' )
for row in cursor:
  print(row)

(101, 'F. Scott Fitzgerald')
(102, 'Harper Lee')
(103, 'Thomas H. Cormen')
(104, 'Mark Lutz')
(105, 'Andrew Ng')
(106, 'Jake VanderPlas')
(107, 'Andrew S. Tanenbaum')
(108, 'Jane Austen')
(109, 'Jon Krohn')
(110, 'Michael Nielsen')

In [22]:
conn=sqlite3.connect('test.db')
cursor=conn.execute(''' SELECT *FROM LIBRARY_BRANCH ''' )
for row in cursor:
  print(row)

(201, 'Central Library', 'Main Street, NY')
(202, 'Downtown Branch', 'Broadway, NY')
(203, 'West End Branch', 'West Avenue, SF')
(204, 'East Side Branch', 'East Street, London')

In [23]:
conn=sqlite3.connect('test.db')
cursor=conn.execute(''' SELECT * FROM BOOK_COPIES ''' )
for row in cursor:
  print(row)

(101, 201, 5)
(102, 201, 3)
(103, 202, 6)
(104, 202, 4)
(105, 203, 5)
(106, 203, 2)
(107, 204, 3)
(108, 204, 4)
(109, 201, 5)
(110, 202, 3)

In [24]:
conn=sqlite3.connect('test.db')
cursor=conn.execute(''' SELECT * FROM BOOK_LENDING ''' )
for row in cursor:
  print(row)

(101, 201, 3001, '2024-05-12', '2024-06-12')
(102, 201, 3002, '2024-06-01', '2024-07-01')
(103, 202, 3003, '2024-06-15', '2024-07-15')
(104, 202, 3004, '2024-07-01', '2024-08-01')
(105, 203, 3005, '2024-07-05', '2024-08-05')
(106, 203, 3006, '2024-07-10', '2024-08-10')
(107, 204, 3007, '2024-07-15', '2024-08-15')
(108, 204, 3008, '2024-07-20', '2024-08-20')
(109, 201, 3009, '2024-07-22', '2024-08-22')
(110, 202, 3010, '2024-07-25', '2024-08-25')

In [25]:
# Most Borrowed Books (Ranking)
cursor=conn.execute('''
SELECT
    b.Title,
    COUNT(bl.Book_id) AS borrow_count,
    RANK() OVER (ORDER BY COUNT(bl.Book_id) DESC) AS popularity_rank
FROM BOOK b
JOIN BOOK_LENDING bl ON b.Book_id = bl.Book_id
GROUP BY b.Title
ORDER BY popularity_rank;''' )
for row in cursor:
  print(row)

('To Kill a Mockingbird', 1, 1)
('The Great Gatsby', 1, 1)
('Quantum Computing 101', 1, 1)
('Pride and Prejudice', 1, 1)
('Modern Operating Systems', 1, 1)
('Machine Learning Basics', 1, 1)
('Learning Python', 1, 1)
('Introduction to Algorithms', 1, 1)
('Deep Learning Illustrated', 1, 1)
('Data Science for All', 1, 1)

In [27]:
# Monthly Borrowing Trend (% Growth)
cursor=conn.execute('''
WITH MonthlyBorrows AS (
    SELECT
        strftime('%Y-%m-01', bl.Date_Out) AS month_start,
        COUNT(*) AS borrow_count
    FROM BOOK_LENDING bl
    GROUP BY strftime('%Y-%m-01', bl.Date_Out)
)
SELECT
    month_start,
    borrow_count,
    LAG(borrow_count) OVER (ORDER BY month_start) AS prev_month,
    (borrow_count - LAG(borrow_count) OVER (ORDER BY month_start)) AS change,
    ROUND(
      100.0 * (borrow_count - LAG(borrow_count) OVER (ORDER BY month_start))
      / NULLIF(LAG(borrow_count) OVER (ORDER BY month_start),0),2
    ) AS pct_change
FROM MonthlyBorrows
ORDER BY month_start;''' )
for row in cursor:
  print(row)

('2024-05-01', 1, None, None, None)
('2024-06-01', 2, 1, 1, 100.0)
('2024-07-01', 7, 2, 5, 250.0)

In [28]:
# top Borrowers
cursor=conn.execute('''
SELECT
    bl.Card_No,
    COUNT(*) AS total_borrows,
    RANK() OVER (ORDER BY COUNT(*) DESC) AS borrower_rank
FROM BOOK_LENDING bl
GROUP BY bl.Card_No
ORDER BY borrower_rank
LIMIT 5;''' )
for row in cursor:
  print(row)

(3010, 1, 1)
(3009, 1, 1)
(3008, 1, 1)
(3007, 1, 1)
(3006, 1, 1)

In [29]:
# Top 3 Books Per Branch
cursor=conn.execute('''
WITH BranchPopularity AS (
    SELECT
        lb.Branch_Name,
        b.Title,
        COUNT(*) AS borrow_count,
        RANK() OVER (PARTITION BY lb.Branch_Name ORDER BY COUNT(*) DESC) AS rank_in_branch
    FROM BOOK_LENDING bl
    JOIN BOOK b ON b.Book_id = bl.Book_id
    JOIN LIBRARY_BRANCH lb ON lb.Branch_id = bl.Branch_id
    GROUP BY lb.Branch_Name, b.Title
)
SELECT *
FROM BranchPopularity
WHERE rank_in_branch <= 3
ORDER BY Branch_Name, rank_in_branch;''' )
for row in cursor:
  print(row)

('Central Library', 'To Kill a Mockingbird', 1, 1)
('Central Library', 'The Great Gatsby', 1, 1)
('Central Library', 'Deep Learning Illustrated', 1, 1)
('Downtown Branch', 'Quantum Computing 101', 1, 1)
('Downtown Branch', 'Learning Python', 1, 1)
('Downtown Branch', 'Introduction to Algorithms', 1, 1)
('East Side Branch', 'Pride and Prejudice', 1, 1)
('East Side Branch', 'Modern Operating Systems', 1, 1)
('West End Branch', 'Machine Learning Basics', 1, 1)
('West End Branch', 'Data Science for All', 1, 1)

In [30]:
#Publisher Perfomance
cursor=conn.execute('''
SELECT
    p.Name AS publisher_name,
    COUNT(bl.Book_id) AS total_borrows,
    RANK() OVER (ORDER BY COUNT(bl.Book_id) DESC) AS publisher_rank
FROM PUBLISHER p
JOIN BOOK b ON p.Name = b.Publisher_Name
JOIN BOOK_LENDING bl ON b.Book_id = bl.Book_id
GROUP BY p.Name
ORDER BY publisher_rank;''' )
for row in cursor:
  print(row)

('OReilly', 3, 1)
('Penguin', 2, 2)
('Oxford Press', 2, 2)
('McGraw-Hill', 2, 2)
('HarperCollins', 1, 5)